
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #191f25b5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}


.header h1 {
  
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.2s ease;
}

.header h1:hover {
    color: #fff;
    
}


.list {
    display: flex;
    gap: 20px;
    list-style: none;  
}

.profile-image{
    box-shadow: 20px 3px 10px solid white;
}

.list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    padding: 10px;
    border-bottom: 2px solid transparent;
    
}

.list li a:hover {
    color: #000000;
    background-color: #fff;
    text-decoration:underline rgb(135, 34, 34);
    border-radius: 2px;
    transition:transform 3s ease;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .list {
        flex-direction: column;
        gap: 10px;
    }
}
